
body {
    text-transform:none;
    margin-top: 20px;   
}

#squareBackgroundImg {
    width: 100%;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

.navigation {
    margin-top: 85px;
    bottom: 20px;
}

.btn.btn-default {
	width: 80%;
    background-color: grey;
    color:white;
    border-color: white;
    white-space: normal;
}

.btn.btn-default:hover {
    background-color: grey;
    color:white;
    border-color: white;
}

.myHouseImg {
	background-image: url("../img/myHouse.jpg");
	width: 100%;
	background-repeat: no-repeat;
}

.square-desc {
    border-radius: 5px;
    background: #dddddd;
    font-size: 25px;
    text-align: center;
    width: 100%;

}

.floatright {
    padding-top: 30px;
    padding-right: 30px;
    float: right;
}


.titta{
    
    border: solid 1px lightgrey;
    border-radius: 5px;
    background: white;
    padding: 5px;
    color: cadetblue;
    font-style: "Comic Sans MS", cursive, sans-serif;
    
}

.dead {
	color: red;
}

subtit {

	font-weight: bold;

}

.main-view {
	margin-top: 250px;
}
main-view {
	margin-top: 500px;
}

.price{
    color: green
}
h3 {
    color: cadetblue;
    text-align: left;
}

p {
    text-align: left;
}

#cont{
    background-color: lightskyblue;
    border-radius: 5px;
    color: darkgreen;
    width: 80%;
    
}

#backImg{
    
    background-image: url("../img/kw.jpg");
	width: 100%;
	background-repeat: no-repeat;
    
}

#home{
    width: 80%;
}

.yah{
    width: 80%;
}
h1{
    font-family: sans-serif;
    color: darkgreen;
}

#fightTop {
    position: fixed;
    top: 10;
}

#fightLogWrapper {
    top: 70;
    bottom: 500px;
    overflow-y: scroll;
}

#fightLog {
    overflow-y: scroll;
}

#fightBottom {
    position: fixed;
    bottom: 10;
}

#sleep{
    width: 100%
}

/*
#fightWrapper {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#enemyInfo {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

#fightLog {
    position: relative;
    top: 20px;
    bottom: 130px;
    left: 10px;
    right: 10px;
    overflow-y: scroll;
}

#actionButtons {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}*/
