<div ng-controller="aftermathCtrl">
	<div>FIGHTEN SLUT</div>
	<div ng-show="playerState.$value === 'lost'">SYND, DU FÖRLORADE! <br/>Du är nu <span class="dead">DEAD</span> och har förlorat hälften av dina guldfiskar! <br> Ta dig hem till går'n för att återhämta dig!</div>
	<div ng-show="playerState.$value === 'won'">GRATTIS, DU VANN! <br/>Du fick halva moståndarens guldfiskar och en massa experience points!</div>
	<br/>
	<div>Din motståndare var {{enemyPlayer.name}} (Level: {{enemyPlayer.lvl}})</div>
	<button ng-click="leave()">Lämna</button>
	<br/>
	<br/>
	<div id="fightLog">
		<div ng-repeat="item in player.fightLog">
			{{item.text}}
		</div>
	</div>
	
</div>