<div ng-controller="butikCtrl">
	<div ng-repeat="bounty in bounties">
		<div class="col-sm-12">
			<div class="thumbnail">
				<div class="caption">
					<h3>{{bounty.name}}</h3>
					<p class="price">Belöning: {{bounty.price}} <img src="img/goldfish.png" /></p>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-default" ng-click="setLocation('shop')">Tillbaka</button>
	<button class="btn btn-default" ng-click="addBounty()">{{buttonText}}</button>
	<br />
	<br />
	<div ng-show="showPlayers">
		<div ng-repeat="player in players">
			<button class="btn btn-default" ng-click="addPlayerBounty(player)">{{player.name}}</button>
		</div>
	</div>
	<div ng-show="showGoldfish">
		<div>Du har {{player.goldfish}} <img src="img/goldfish.png" /></div>
		<div>Hur många guldfiskar vill du betala?</div>
		<div>{{chosenPlayer.name}}:  {{bounty}}  <img src="img/goldfish.png" /> <button ng-click="addToBounty()">+10</button><button ng-click="subtractToBounty()">-10</button></div>	
		<button class="btn btn-default" ng-click="setBounty()">Betala</button>
	</div>
</div>