<div ng-controller="createCharacterCtrl">
	<form name="createCharacterForm" novalidate>
		Ge din karaktär ett namn:
		<input id="characterNameInput" type="text" name="characterName" required ng-model="characterName">
		<span ng-show="loginForm.characterName.$error.required">*</span>
		<br />
		Antal poäng kvar att fördela: {{points}} <span ng-show="points != 0">*Du måste dela ut samtliga poäng innan du kan skapa din karaktär</span>
		<br />
		Styrka:
		<button ng-click="subtractPoint('strength')">-</button><span>{{strength}}</span><button ng-click="addPoint('strength')">+</button>
		<br />
		Tuffhet:
		<button ng-click="subtractPoint('toughness')">-</button><span>{{toughness}}</span><button ng-click="addPoint('toughness')">+</button>
		<br />
		<button type="submit" ng-click="createCharacter($event)" class="btn btn-default">Skapa!</button>
	</form>
</div>