<div ng-controller="customizeCharacterCtrl">
	Totala styrka: {{player.strength + player.equippedWeapon.strength}} Total tuffhet: {{player.toughness + player.equippedShield.toughness + player.equippedArmor.toughness}}
	<div>Vapen ger en bonus till din styrka</div>
	<button class="btn btn-default" ng-click="showWeaponsMenu()">Vapen: {{player.equippedWeapon.name}} (+{{player.equippedWeapon.strength}})</button>
		<div id="weaponsMenu" ng-show="showWeapons">
			<div ng-repeat="item in player.inventory">
				<button class="btn btn-default" ng-show="item.type === 'Vapen'" ng-click="equipWeapon(item)" style="background-color: orange">{{item.name}} (+{{item.strength}})</button>
			</div>
		</div>

	<div>Sköldar och rustningar ger en bonus till din tuffhet</div>
	<button class="btn btn-default" ng-click="showShieldsMenu()">Sköld: {{player.equippedShield.name}} (+{{player.equippedShield.toughness}})</button>
	<div id="weaponsMenu" ng-show="showShields">
		<div ng-repeat="item in player.inventory">
			<button class="btn btn-default" ng-show="item.type === 'Shield'" ng-click="equipShield(item)" style="background-color: orange">{{item.name}} (+{{item.toughness}})</button>
		</div>
	</div>

	<button class="btn btn-default" ng-click="showArmorMenu()">Rustning: {{player.equippedArmor.name}} (+{{player.equippedArmor.toughness}})</button>
	<div id="weaponsMenu" ng-show="showArmor">
		<div ng-repeat="item in player.inventory">
			<button class="btn btn-default" ng-show="item.type === 'Armor'" ng-click="equipArmor(item)" style="background-color: orange">{{item.name}} (+{{item.toughness}})</button>
		</div>
	</div>
	<form name="createCharacterForm" novalidate>
		<!-- Ge din karaktär ett namn:
		<input id="characterNameInput" type="text" name="characterName" required ng-model="characterName">
		<span ng-show="loginForm.characterName.$error.required">*</span>
		<br /> -->
		Karaktärstats<br>
		{{player.points}} poäng att fördela
		<br />
		<span ng-show="!playerLoaded">Laddar...</span>
		<div ng-show="playerLoaded">
			Styrka:
			<button ng-click="subtractPoint('strength')">-</button><span>{{player.strength}}</span><button ng-click="addPoint('strength')">+</button>
			<br />
			Tuffhet:
			<button ng-click="subtractPoint('toughness')">-</button><span>{{player.toughness}}</span><button ng-click="addPoint('toughness')">+</button>
			<br />
			<button type="submit" ng-click="saveCharacter()" class="btn btn-default">Spara!</button>
		</div>
	</form>
</div>