<div ng-controller="fightingCtrl">
	<div id="fightTop" class="navbar navbar-default navbar-fixed-top">
		<div id="enemyInfo">
			Du slåss mot {{enemyPlayer.name}}! (Level: {{enemyPlayer.lvl}}) <br>
			HP: {{enemyPlayer.hp}} / {{enemyPlayer.maxhp}}  <br>
		</div>
	</div>

	<div id="fightLogWrapper"><br>
		<div id="fightLog">
			<div ng-repeat="item in player.fightLog"><br><br>
				{{item.text}}
			</div>
		</div>

	</div>

	<div id="fightBottom" class="navbar navbar-default navbar-fixed-bottom">
		<div id="turnInfo">
			<div ng-show="player.turn">Din Tur! Tid kvar: {{timeLeft}} sekunder</div>
			<div ng-hide="player.turn">Väntar på motståndarens drag...</div>
		</div>

		<div id="playerStats">
			HP: {{player.hp}} / {{player.maxhp}}
		</div>

		<div id="actionButtons">
			<button class="btn btn-default" ng-disabled="!player.turn" ng-click="hitEnemy()">Attackera!</button>
			<div id="inventoryMenu" ng-show="showInventory">
				<div ng-repeat="item in player.inventory">
					<button class="btn btn-default" ng-disabled="!player.turn" ng-show="item.type === 'Potion'" ng-click="useItem(item)" style="background-color: orange">{{item.name}}</button>
				</div>
			</div>
			<button class="btn btn-default" ng-disabled="!player.turn" ng-click="showInventoryMenu()">Inventarier</button>
			<div id="magicMenu" ng-show="showMagic">
				<div ng-repeat="item in player.inventory">
					<button class="btn btn-default" ng-disabled="!player.turn" ng-show="item.type === 'Magi'" ng-click="useMagic(item)" style="background-color: orange">{{item.name}}</button>
				</div>
			</div>
			<button class="btn btn-default" ng-disabled="!player.turn" ng-click="showMagicMenu()">Magi</button>
			<button class="btn btn-default" ng-disabled="!player.turn" ng-click="leaveFight()">Fly</button>
		</div>
	</div>
</div>