<div ng-controller="highScoreCtrl">
	<img src="img/hs.png" class="yah"></img>
	<table border="1">
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Level</th>
			<th>Experience</th>
			<th>Goldfish</th>
		</tr>
		<tr ng-repeat="player in players | orderBy: ['-lvl', '-xp', '-goldfish']">
			<td>{{$index+1}}</td>
			<td>{{player.name}}</td>
			<td>{{player.lvl}}</td>
			<td>{{player.xp}}</td>
			<td>{{player.goldfish}}</td>
		</tr>
	</table>
	<button class="btn btn-default" ng-click="setLocation('myhouse')">Tillbaka</button><br />
</div>
