<div id="backImg">
	<img src="img/opb.png"></img>
<div ng-show="authData">
	Du är inloggad som {{authData.uid}}<br />
	<button class="btn btn-default" ng-click="setLocation('/myhouse')">Gå till mitt hus</button><br />
	<button class="btn btn-default" ng-click="logout()">Logga ut</button>
</div>




	<div id="cont">
<form name="$parent.loginForm" novalidate ng-hide="authData">
	E-post<br>
		<input id="emailInput" type="email" name="email" required ng-model="$parent.email">
		<span ng-show="loginForm.email.$invalid">*</span>
		<br />
	Lösenord:<br>
		<input id="passwordInput" type="password" name="password" required ng-model="$parent.password">
		<span ng-show="loginForm.password.$error.required">*</span>
		<br></br>
	<button type="submit" ng-click="login()" class="btn btn-default">Logga in</button>
	<br />
	<button type="submit" ng-click="register($event)"  class="btn btn-default">Registrera</button>
		<br></br>
		</div>
		<br></br>
		<img src="img/kb.png"></img>
</form> 
</div>