<img src="img/yah.png" class="yah"</img><br>
<img src="img/brick.png" id="home"></img><br>
<button class="btn btn-default" ng-click="setLocation('town')">Gå ut på sta'n</button>
<button class="btn btn-default" ng-click="setLocation('highscore')">Topplista</button>
<button class="btn btn-default" ng-click="setLocation('sleep')">Vila</button>	
<button class="btn btn-default" ng-click="setLocation('customizecharacter')">Anpassa</button>
<button class="btn btn-default" ng-click="setLocation('stats')">Spelarinfo</button>		
<button class="btn btn-default" ng-click="logout()" style="background-color: orange">Logga ut</button>