<div class="navigation" align="bottom">
  <br />

  <table border="0" style="width:300px">
    <tr>
      <td colspan="2" align="center" ><button style="width:33%" class="btn btn-default" ng-click="setSquare('north')" ng-disabled="disableNorth || playerArrayNotReady">Norr</button></td>
      
    </tr>
    <tr>
      <td align="right"><button class="btn btn-default" ng-click="setSquare('west')" ng-disabled="disableWest || playerArrayNotReady">Väster</button></td>
      <td align="left"><button class="btn btn-default" ng-click="setSquare('east')" ng-disabled="disableEast || playerArrayNotReady">Öster</button></td>		
    </tr>
    <tr>
      <td colspan="2" align ="center"><button style="width:33%" class="btn btn-default" ng-click="setSquare('south')" ng-disabled="disableSouth || playerArrayNotReady">Söder</button></td>
    </tr>
    <tr>
    </tr>

  </table>
  <br />



</div>