<div class = "navStats">

<table border="0">
<tr>

	<td width= "120px" align="center" >
	{{player.name}} (Lvl {{player.lvl}})<br />
	</td>

	<td width= "100px" align="center">
	<span ng-hide="player.isDead"><img height="16px" src="img/heart.png" /> {{player.hp}}/{{player.maxhp}}</span><span class="dead" ng-show="player.isDead"> (DEAD)</span>
	</td>
	<td width="100px" align="center">
	<img src="img/goldfish.png" />{{player.goldfish}}
	</td>

</tr>
</table>
</div>