<div ng-controller="butikCtrl">
	<img src="img/affes.png" class="yah"</img><br>
		<div >
			<div class="titta" >
				<button class="btn btn-info" ng-click="setLocation('town')">Tillbaka</button>
				<strong>Goldfish to spend:</strong> {{player.goldfish}} <img src="img/goldfish.png" />
			</div>
			
			<br>
				
			<button class="btn btn-default" ng-click="setLocation('bountyshop')">Kolla bounties</button>
			
			<br />
				
			<div ng-repeat="item in affes.items">
				<div class="col-sm-12">
					<div class="thumbnail">
						<img src={{item.img}} class="floatright" />
						<div class="caption">
							<h3>{{item.name}}</h3>
							<p>{{item.description}}</p>
							<p>Typ: <strong>{{item.type}}</strong></p>
							<p ng-show="item.hp !== 0">Regenererar {{item.hp}} HP<br />
							<p ng-show="item.strength !== 0">Styrka: +{{item.strength}}<br />
							<p ng-show="item.toughness !== 0">Tuffhet: +{{item.toughness}}<br />
							<p class="price">Kostnad: {{item.price}} <img src="img/goldfish.png" /></p>
							<p><button class="btn btn-success btn-block" ng-click="affes.buyStuff(item)">Köp</button></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>