<div ng-controller="sleepCtrl">

	<div>Du har {{player.hp}} / {{player.maxhp}} HP <img src="img/heart.png" ></img><span class="dead" ng-show="player.isDead"> (DEAD)</span></div><br>
		<img src="img/sleep.png" id="sleep"></img>
	
	<button class="btn btn-default" ng-click="leave()">Tillbaka</button><br />

	
</div>