<div class="square-desc">{{square.name}}</div>
<div id="squareBackgroundImg" style="background-image: url(img/map/{{square.img}})">
	<div ng-show="randomEvent" style="color:white"> {{ msg }} </div>
	<div ng-show="square.playerArray">
		<div ng-repeat="arrayPlayer in square.playerArray">
			<div ng-show="arrayPlayer.name != player.name">
			
				<button ng-disabled="arrayPlayer.disabled || arrayPlayer.isDead || player.isDead" class="btn btn-default" ng-click="setLocation('fight', arrayPlayer.uid)"><span ng-show="arrayPlayer.hasBounty"><img style="margin-top: -3px" src="img/goldfish.png" alt="bounty" height="25" width="25"></span> {{arrayPlayer.name}} <span ng-show="arrayPlayer.isDead"><img style="margin-top: -3px" src="img/ghost.png" alt="ghost" height="25" width="25"></span>  </button>
			</div>
		</div>
	</div>


	<div ng-include="'html/navigation.html'" align="bottom"> </div>

</div>
	
	<div ng-include="'html/navstats.html'"> </div>
</div>