<div>

	<img src="img/ps.png" class="yah"</img><br>


	Spelarnamn: <subtit>{{player.name}}</subtit><span class = "dead" ng-show = "player.isDead"> (DEAD) </span> <br /> 
	Guldfiskar: <subtit>{{player.goldfish}}</subtit><br />
	Level: <subtit>{{player.lvl}}</subtit><br />
	Experience: <subtit>{{player.xp}} / {{calculateXpNeededForLevel(player.lvl+1)}} ({{calculateXpNeededForLevel(player.lvl+1) - player.xp}} behövs för nästa level)</subtit><br />
	HP: <subtit>{{player.hp}}/{{player.maxhp}}</subtit><br />
	Styrka: <subtit>{{player.strength}} (Totalt: {{player.strength + player.equippedWeapon.strength}})</subtit><br />
	Tuffhet: <subtit>{{player.toughness}} (Totalt: {{player.toughness + player.equippedShield.toughness + player.equippedArmor.toughness}})</subtit><br />
	Har bounty: <subtit>{{player.hasBounty ? 'JA' : 'NEJ'}}</subtit><br />
	Vapen: <subtit>{{player.equippedWeapon.name}}</subtit><br />
	Sköld: <subtit>{{player.equippedShield.name}}</subtit><br />
	Rustning: <subtit>{{player.equippedArmor.name}}</subtit><br />
	Inventarier:<br />
	<div ng-repeat="item in player.inventory"><subtit>{{item.name}}</subtit></div>
	<br />
	Inloggat user-id: {{authData.uid}}<br />
	Inloggad e-post: {{authData.password.email}}<br />
	<button class="btn btn-default" ng-click="setLocation('myhouse')">Tillbaka</button><br />
</div>