<div class = "square-desc"> Välkommen te stan </div>
<div id="squareBackgroundImg" style="background-image: url(img/map/5.jpg)">

	<button class="btn btn-default" ng-click="setLocation('myhouse')">Hem till går'n</button><br />
	<button class="btn btn-default" ng-click="setLocation('shop')">Affes gårdsbutik</button><br />
	

	<div ng-include="'html/navigation.html'"></div>
	</div>
	<div ng-include="'html/navstats.html'"> </div>
